# Node
node_modules

# Node Package Manager
package-lock.json
yarn.lock
pnpm-lock.yaml

# Yarn Integrity file
.yarn-integrity

# Turbo
.turbo

# ESLint cache
.eslintcache

# Cargo
target

# Wasm Pack
**/pkg

# Misc
.DS_Store
